### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [3]:
print(purchase_data.columns)

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
purchase_data_edit = purchase_data.loc[:, ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']]
purchase_data_edit.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
total_players = purchase_data['SN'].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_counts = purchase_data_edit.nunique()
numberofuniqueitems = unique_counts['Item ID']
average_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
# print(total_purchases)
# # print(type(numberofuniqueitems))
# print(numberofuniqueitems)

In [7]:
purchases_analysis = {'number of unique items': [numberofuniqueitems],
                      'average price': [average_price],
                     'total revenue': [total_revenue],
                     'total purchases': [total_purchases], 
                     }

purchases_analysis_df = pd.DataFrame(purchases_analysis)
purchases_analysis_df

   number of unique items  average price  total revenue  total purchases
0                     179       3.050987        2379.77              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
columns = ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

#  Create a new df for "US" with the columns. 
male_df = purchase_data.loc[purchase_data["Gender"] == "Male",  columns]
# male_df.head()
male_count = male_df["Gender"].count()
male_percentage = (male_count / total_players)*100
print(f"The Male count is: {male_count} The Male percentage is: {male_percentage:.2f}%")

The Male count is: 652 The Male percentage is: 83.59%

In [9]:
columns = ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

#  Create a new df for "US" with the columns. 
female_df = purchase_data.loc[purchase_data["Gender"] == "Female",  columns]
# female_df.head()
female_count = female_df["Gender"].count()
female_percentage = (female_count / total_players)*100
print(f"The Female count is: {female_count} The Female percentage is: {female_percentage:.2f}%")

The Female count is: 113 The Female percentage is: 14.49%

In [10]:
columns = ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",  columns]
other_count = other_df["Gender"].count()
other_percentage = (other_count / total_players)*100
print(f"The Other count is: {other_count} The Other percentage is: {other_percentage:.2f}%")

The Other count is: 15 The Other percentage is: 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
male_purchase_count = male_df["Purchase ID"].count()
male_average_pp = male_df["Price"].mean()
male_total_pval = male_df["Price"].sum()
male_average_pt_perp = male_total_pval / total_players

In [12]:
male_analysis_df = {'Male Number of Purchases': [male_purchase_count],
                      'Male Average Purchase Price': [male_average_pp],
                     'Male Total Purchase Value': [male_total_pval],
                     'Average Purchase Total per Person: Male': [male_average_pt_perp], 
                     }

male_analysis_df = pd.DataFrame(male_analysis_df)
male_analysis_df

,Male Number of Purchases,Male Average Purchase Price,Male Total Purchase Value,Average Purchase Total per Person: Male
0,652,3.017853,1967.64,2.522615

In [13]:
female_purchase_count = female_df["Purchase ID"].count()
female_average_pp = female_df["Price"].mean()
female_total_pval = female_df["Price"].sum()
female_average_pt_perp = female_total_pval / total_players

In [14]:
female_analysis_df = {'Female Number of Purchases': [female_purchase_count],
                      'Female Average Purchase Price': [female_average_pp],
                     'Female Total Purchase Value': [female_total_pval],
                     'Average Purchase Total per Person: Female': [female_average_pt_perp], 
                     }

female_analysis_df = pd.DataFrame(female_analysis_df)
female_analysis_df

,Female Number of Purchases,Female Average Purchase Price,Female Total Purchase Value,Average Purchase Total per Person: Female
0,113,3.203009,361.94,0.464026

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
purchase_data['Age'].max()

45

In [16]:
purchase_data['Age'].min()

7

In [29]:
age_bins = [0, 10, 14, 19, 24, 29, 34, 38, 45]
age_group_labels = ["10 and under", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", 
              "35 to 39", "40 and Older"]
pd.cut(purchase_data["Age"], age_bins, labels=age_group_labels, include_lowest=True).head()

purchase_data["Age Group Analysis"] = pd.cut(purchase_data["Age"], age_bins, labels=age_group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group Analysis
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 and Older
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [43]:
age_groups = purchase_data.groupby("Age Group Analysis")

age_group_count = (age_groups["Item ID"].count())
age_group_count

Age Group Analysis
10 and under     32
10 to 14         19
15 to 19        136
20 to 24        365
25 to 29        101
30 to 34         73
35 to 39         35
40 and Older     19
Name: Item ID, dtype: int64

In [47]:
age_group_percentage = ((age_groups["Item ID"].count()) / (total_players)*100)
age_group_percentage

Age Group Analysis
10 and under     4.102564
10 to 14         2.435897
15 to 19        17.435897
20 to 24        46.794872
25 to 29        12.948718
30 to 34         9.358974
35 to 39         4.487179
40 and Older     2.435897
Name: Item ID, dtype: float64

In [48]:
age_df = {'Number of players by Age Group': [age_group_count],
                      'Percentage of players by Age Group': [age_group_percentage], 
                     }

age_df = pd.DataFrame(age_df)
age_df

,Number of players by Age Group,Percentage of players by Age Group
0,Age Group Analysis 10 and under 32 10 to 1...,Age Group Analysis 10 and under 4.102564 1...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
age_group_purchase_count = age_groups["Purchase ID"].count()
age_group_average_pp = age_groups["Price"].mean()
age_group_total_pval = age_groups["Price"].sum()
age_group_average_pt_perp = age_group_total_pval / total_players

age_df_2 = {'Number of Purchases by Age Group': [age_group_purchase_count],
                      'Average Purchase Price by Age Group': [age_group_average_pp],
                     'Total Purchase Value by Age Group': [age_group_total_pval],
                     'Average Purchase Total per Person per Age Group': [age_group_average_pt_perp], 
                     }

age_df_2 = pd.DataFrame(age_df_2)
age_df_2

,Number of Purchases by Age Group,Average Purchase Price by Age Group,Total Purchase Value by Age Group,Average Purchase Total per Person per Age Group
0,Age Group Analysis 10 and under 32 10 to 1...,Age Group Analysis 10 and under 3.405000 10...,Age Group Analysis 10 and under 108.96 10 ...,Age Group Analysis 10 and under 0.139692 10...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
top_spender = purchase_data.groupby("SN")

top_spender_count = (top_spender["Purchase ID"].count())
top_spender_average = (top_spender["Price"].mean())
top_spender_total = (top_spender["Price"].sum())

top5_spender_df = {'Purchase Count': [top_spender_count],
                      'Average Purchase Price': [top_spender_average],
                     'Total Purchase Value by Spender': [top_spender_total], 
                     }

top5_spender_df = pd.DataFrame(top5_spender_df)
# top5_spender_df

sorted_top_spender_df = top5_spender_df.sort_values(by="Total Purchase Value by Spender", ascending=False)
sorted_top_spender_df.head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value by Spender
0,SN Adairialis76 1 Adastirin33 1 Aeda9...,SN Adairialis76 2.280000 Adastirin33 ...,SN Adairialis76 2.28 Adastirin33 4.48...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
most_popular = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
# most_popular
popular_group = most_popular.groupby(["Item ID", "Item Name"])

# purchase count, average item price, and total purchase value

pop_purchase_count = (popular_group["Price"].count())
pop_average_price = (popular_group["Price"].mean())
pop_total_price = (popular_group["Price"].sum())

top5_items_df = {'Purchase Count': [pop_purchase_count],
                      'Average Purchase Price': [pop_average_price],
                     'Total Purchase Value by Spender': [pop_total_price], 
                     }

top5_items_df = pd.DataFrame(top5_items_df)
# top5_items_df

sorted_top_items_df = top5_items_df.sort_values(by="Purchase Count", ascending=False)
sorted_top_items_df.head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value by Spender
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [66]:
sorted_top_itemspv_df = top5_items_df.sort_values(by="Total Purchase Value by Spender", ascending=False)

sorted_top_itemspv_df.head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value by Spender
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...